<main>
    {{#each this}}
    <div class="container mt-3">
        <div class="card">
            <div class="card-body">
                {{content}}
            </div>
        </div>
    </div>
    {{/each}}
</main>