<header class="container-fluid">
    <div class="row align-items-center">
        <div class="col p-0 m-0">
            <h2 class="m-0">LOGIN</h2>
        </div>
        <nav class="col p-0 m-0">
            <ul>
                <li class="px-2">Home</li>
                <li class="px-2">Dashboard</li>
                <li class="px-2">Login</li>
            </ul>
        </nav>
    </div>
</header>

<main>
    <div class="container mt-3">
        <div class="card">
            <div class="card-header">
                <h3 class = "myCardHeaderText">Login Here</h3>
            </div>
            <div class="card-body">
                <form class = 'login-form'>
                    <div class="form-group">
                        <label for="username-login">Username</label>
                        <input type="text" class="form-control" id="username-login"
                            placeholder="Enter Username">
                    </div>
                    <div class="form-group mt-2">
                        <label for="password-login">Password</label>
                        <input type="password" class="form-control" id="password-login" 
                            placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>